@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Instituto tecnológico de Costa Rica</p>
<p>Curso: Algoritmos y Estructuras de Datos 1</p>
<p>Estudiantes:</p>
<ul>
    <li>Gabriel Vargas</li>
    <li>Isaac Herrera</li>
</ul>
<p>This calculator was based on the https://www.geeksforgeeks.org/html-calculator/ example, with little moddifications</p>
